.signUpCompletePage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 100px auto auto;
    padding: 20px;
    background-color: rgba(27, 38, 54, 1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.logo {
    width: 120px; /* ロゴの幅を指定 */
    height: auto; /* 高さを自動調整してアスペクト比を維持 */
    margin-bottom: 30px;
}

.signUpConfirmation-form .btn-confirm {
    width: 47%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #CC7400;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signUpConfirmation-form .btn-confirm:hover {
    opacity: 0.85;
}

.btn-resend-code {
    width: 47%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    background-color: #2E425C;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-resend-code:hover {
    opacity: 0.85;
}
