.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 100px auto auto;
    padding: 20px;
    background-color: rgba(27, 38, 54, 1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.login-logo {
    width: 120px; /* ロゴの幅を指定 */
    height: auto; /* 高さを自動調整してアスペクト比を維持 */
    margin-bottom: 30px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.login-form input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.button-container {
    display: flex;
    width: 100%;
    margin-top: 20px;
    gap: 10px; /* ボタン間のスペース */
}

.button-container button {
    flex: 1; /* ボタンに均等な幅を与える */
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.login-form .btn-login {
    width: 50%; /* ログインボタンの幅 */
    padding: 12px;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px; /* ボタン間の余白 */
    background-color: #3a506b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-signup {
    width: 47%; /* サインアップボタンの幅 */
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #5bc0be;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form .btn-login:hover,
.btn-signup:hover {
    opacity: 0.85;
}
